.telo {
    width: 90%;
    height: fit-content;
    border: 1px solid black;
    margin: auto;
    user-select: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    height: fit-content;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 30px;
}

.add {
    width: 99.8%;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

#input {
    width: 60%;
}

#but {
    width: 20%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.pole {
    width: 100%;
    height: fit-content;
    /* border: 1px solid black;  */
    /* display: flex;
    justify-content: space-between; */
}

#block {
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: white;

}

#del {
    border-radius: 15px;
    text-decoration: none;
}
